@font-face {
    font-family: 'spider';
    src: url('./assets/fonts/The\ Amazing\ Spider-Man.ttf');
}
@font-face {
    font-family: 'aldo';
    src: url('./assets/fonts//Aldo\ PC.ttf');
}


/*font-family: 'UnifrakturCook', cursive;
font-family: 'Sedgwick Ave Display', cursive;*/

body {
    background-color: black;
    color: black;
}

