h1{
  color: #ff5e14;
  text-align: center;
}
h2{
  color: white;
  text-align: center;
  font-size: medium;
}

.general{
  padding: 10px;
}

.categories{
    display: flex;
    align-content: center;
    padding: 10px;
    justify-content: space-around;

}

.seccion{
  padding: 10px;

}



@media (max-width: 768px) {
    .categories {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 7%;
      
      /* Establece el flujo de columna */
  
  
    }

    .mid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 7%;
      
    }
}

@media (min-width: 768px){
  img{
    max-width: 340px;
  }
  
}


.products{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px, 0;

}


.card{
  color: black;
  justify-content: space-between;

}

.card-body{
  background-color: black;
  color: white;
}

.tallas{
  justify-content: center;
}



-------------------------------
.container {
  padding: 2rem 0rem;
}

.table-image thead td, .table-image thead th {
  border: 0;
  color: #666;
  font-size: 0.8rem;
}
.table-image td, .table-image th {
  vertical-align: middle;
  text-align: center;
}
.table-image td.qty, .table-image th.qty {
  max-width: 2rem;
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 0rem;
}