h1{
  color: #ff5e14;
  text-align: center;
}
h2{
  color: white;
  text-align: center;
  font-size: medium;
}

.general{
  padding: 10px;
}

.categories{
    display: flex;
    align-content: center;
    padding: 10px;
    justify-content: space-around;

}

.seccion{
  padding: 10px;

}



@media (max-width: 768px) {
    .categories {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 7%;
      
      /* Establece el flujo de columna */
  
  
    }

    .mid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 7%;
      
    }
}

@media (min-width: 768px){
  img{
    max-width: 340px;
  }
  
}


.products{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 50px, 0;
  font-family: aldo;

}


.card{
  color: black;
  justify-content: space-around;
  margin-bottom: 10px;

}

.card-body{
  background-color: black;
  color: white;
}

.cat{
  font-family: spider;
  font-size: 50px;
}

-------------------------------
.container {
  padding: 2rem 0rem;
}

.table-image thead td, .table-image thead th {
  border: 0;
  color: #666;
  font-size: 0.8rem;
}
.table-image td, .table-image th {
  vertical-align: middle;
  text-align: center;
}
.table-image td.qty, .table-image th.qty {
  max-width: 2rem;
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 0rem;
}

.text1{
  font-family: aldo;
  font-size: 25px;
  color: #e8ceb9;
}

.card-body{
  color: #e8ceb9;
}

.btn.btn-outline{
  border-color: #e8ceb9;
  color: #e8ceb9;
  width: 35px;
  height: 35px;
  margin: 10px;
}
.btn.btn-outline:hover{
  background-color: #e8ceb933;
}
.all-size{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

}

.btn{
  border-color: #e8ceb9;
  color: #e8ceb9;
  font-family: aldo;
}

.btn:hover{
  background-color: #e8ceb933;
}

.card-text{
  font-size: 15px;
}

.fw-bold.mb-0{
  font-family: spider;
  font-size: 30px;
}

.textinfo{
  font-size: 20px;
}

.col-md-3.col-lg-3.col-xl-3{
  font-family: aldo;
  text-align: center;
}

.mb-0{
  font-family: aldo;
  font-size: 20px;
}

#total{
  font-family: spider;
  font-size: 25px;
}

#producto{
  font-family: aldo;
}

.text-uppercase{
  font-family: aldo;
}

.precio{
  font-family: aldo;
  font-size: 25px;
}