<div class="slider">
  <ul>
    <li>
      <img
        src="../../../../assets/img/flip2.png"
        alt="">
    </li>
    <li>
      <img src="../../../../assets/img/flip1.png"
        alt="">
    </li>
    <li>
      <img src="../../../../assets/img/flip3.png" alt="">
    </li>
    <li>
      <img
        src="../../../../assets/img/flip4.png"
        alt="">
    </li>
    <li>
      <img
        src="../../../../assets/img/flip5.png"
        alt="">
    </li>
  </ul>
</div>
<section class="info">
  <h1> Wlcome to Ropa Pa'Toos</h1>
</section>