<div class="slider">
  <ul>
    <li>
      <img
        src="../../../../assets/img/flip2.png"
        alt="">
    </li>
    <li>
      <img src="../../../../assets/img/flip1.png"
        alt="">
    </li>
    <li>
      <img src="../../../../assets/img/flip3.png" alt="">
    </li>
    <li>
      <img
        src="../../../../assets/img/flip4.png"
        alt="">
    </li>
    <li>
      <img
        src="../../../../assets/img/flip5.png"
        alt="">
    </li>
  </ul>
</div>
<section >
  <h1 class="info"> Welcome to Ropa Pa'Toos</h1>
  <h2 class="texto">Ropa'PaToos is not just another clothing store; it's the brainchild of two visionary brothers, who sought to revolutionize the way people experience fashion. At Ropa'PaToos, we believe that clothing is more than just fabric sewn together; it's a form of self-expression, art, and a way to tell your unique story. </h2>
</section>