.slider {
	width: 100%;
	margin: 0%;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0%;
	width: 500%;
	margin: 0%;
	
	animation: cambio 30s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.info {
	background-color: black;
	font-family: spider;
	color: #e8ceb9;
	text-align: center;
	margin: 0%;
	padding-top: 5%;
}

.texto{
	font-family: aldo;
	color: #e8ceb9;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 25px;
}