<section class="todo">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="menu navbar-nav me-auto">
          <li class="nav-item">
            <a [routerLink]="['/home']" class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/footer']" class="nav-link active">About us</a>
          </li>
          <!--         <li class="nav-item">
            <a [routerLink]="['/products']" class="nav-link active">Shop</a>
          </li>  -->
          <li class="logo">
            <a class="navbar-brand" href="#">Ropa Pa'Toos</a>
          </li>
        </ul>
        <div class="log">
          <a [routerLink]="['/login']" class="nav-link active logi">Log In</a>
        </div>
        <div class="container-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="icon-cart">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" href="#">Action</a> </li>
            <li> <a class="dropdown-item" href="#">Another action</a> </li>
            <li> <a class="dropdown-item" href="#">Something else here</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</section>