<section class="todo">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="menu navbar-nav me-auto">
          <li class="nav-item">
            <a [routerLink]="['/home']" class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/footer']" class="nav-link active" (click)="footer()">About us</a>
          </li>
          <li class="logo">
            <a class="navbar-brand" href="#">Ropa Pa'Toos</a>
          </li>
        </ul>
        <div class="log">
          <a [routerLink]="['/login']" class="nav-link active logi">Log In</a>
        </div>
      </div>
    </div>
  </nav>
</section>