.container-fluid{
    font-size: larger;
    background-color: black;
    margin: 0%;
}

.navbar-expand-lg {
    background-color: black;
    color: black;
    margin: 0%;
    text-align: center;
}
.navbar-brand{
    font-size: xx-large;
    color: #ff4b0f;
    font-family: spider;

}

.nav-link.active{
    color: #e8ceb9;
}

nav menu{
    background-color: black

}

.dropdown{
    color: #e8ceb9;
}

.nav-link.active.logi {
    color: #ff4b0f;
    margin-right: 10px;
}

.nav-item {
    text-align: left;
}

.cart{
    cursor: pointer;

}

.collapse.navbar-collapse{
    font-family: aldo;
}

.logout{
    font-family: aldo;
    margin-right: 10px;
}

.log{
    font-family: aldo;
    margin-left: 10px;
}